.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  margin-bottom: 2px;
  margin-top: 2px;
  color: white;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 50px;
}

.link {
  margin-bottom: 2px;
  margin-top: 2px;
  color: white;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 50px;
}

.nav-link.active {
  background-color: #7d38d1;
}

.button-link {
  text-decoration: none;
  background-color: #7d38d1;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 6px 16px;
}

.button-link:hover {
  background-color: #4a148c;
}
